<!-- <div class="container-fluid">
    <div class="d-flex flex-row flex-nowrap">
        <div class="row">

    <div *ngFor="let card of categoryList[0]">
      <div class="col-sm favourites">
        <!-- <div class="card" style="width: 15rem;">
          <img class="card-img" src="{{ card.image }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ card.name }}</h5>
          </div>
        </div> -->
        <!-- <div class="container" (click)="OnCategoryClick($event)">
          <img class="images" src="{{ card.image }}" alt="Card image cap">
            <p class="title" id="title">{{ card.name }}</p>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
<div *ngIf="filteredList.length">
  <app-categories-card [filter]="filteredList"></app-categories-card>
</div> -->
 -->
